<%- include('include/_header.ejs') %>

<main class="container m-5">
    <div class="flex">
        <a href="/" class="btn btn-primary">
            <i class="fas fa-angle-double-left"></i> All Users
        </a>
    </div>

    <div class="text-center">
        <h1>Use the below form to add an Employee</h1>
    </div>
     
    <!-- Add form  -->
    <%- include('include/_form.ejs') %>

</main>

</body>
</html>