<%- include('include/_header.ejs') %>

<main>
    <div class="flex">
        <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User 
                <i class="fas fa-user"></i>
            </span>
        </a>
    </div>

    <form action="/">
        <%- include('include/_show.ejs') %>
    </form>
</main>

</body>
</html>