<form action ="/api/add" class="form-group" method="POST" enctype="multipart/form-data" >
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Dinesh">
        <label for="firstname">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="lasttname" name="lastname" placeholder="Dinesh">
        <label for="lasttname">Last Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="age" name="age" placeholder="Dinesh">
        <label for="age">Age</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="salary" name="salary" placeholder="Dinesh">
        <label for="salary">Salary</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="file" class="form-control" id="profile" name="avatar">
    </div>

    <input type="submit" class="btn btn-primary" value="Submit">
</form>