<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
        <th scope="col">Profile Photo</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>23</td>
        <td>2000000</td>
        <td><img src="" alt=""></td>
        <td>
            <a href="/update-user/" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id="" >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
      </tr>
    </tbody>
  </table>